.edit-driver {
	max-width: 700px;
	max-height: 300px;
	margin: 20px auto 0;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.edit-driver input {
	width: 100%;
	margin: 5px 0;
	height: 30px;
	font-size: 16px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #000;
}

.edit-driver-actions {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.edit-driver-actions button {
	width: 35%;
	margin-top: 10px;
	height: 30px;
	border-radius: 5px;
	font-size: 16px;
	background: #fff;
	cursor: pointer;
	transition: all 0.2s;
}

#action_update {
	border: 1px solid hsl(204,86%,53%);
	color: hsl(204,86%,53%);
}

#action_back {
	border: 1px solid hsl(348,100%,61%);
	color: hsl(348,100%,61%);
}

#action_update:hover {
	background: hsl(204,86%,53%);
	color: #fff;
}

#action_back:hover {
	background: hsl(348,100%,61%);
	color: #fff;
}